In [1]:
import os
import sys
import boto3
import pandas as pd

from pathlib import Path
from dotenv import load_dotenv

from simulator.shared import load_transactions

load_dotenv()

True

In [2]:
local_prefix='./data/'

In [3]:
def download_folder(key, bucket_name='fsi-fraud-detection', local_prefix='./data/'):
    s3 = boto3.resource('s3')
    bucket = s3.Bucket(bucket_name)

    objs = list(bucket.objects.filter(Prefix=key))

    for obj in objs:
        # remove the file name from the object key
        obj_path = f"{local_prefix}{os.path.dirname(obj.key)}"
        # create nested directory structure
        Path(obj_path).mkdir(parents=True, exist_ok=True)
        # save file with full path locally
        bucket.download_file(obj.key, local_prefix + obj.key)

In [23]:
# get all the data from S3
download_folder('archive')
download_folder('fraud')

In [4]:
input_dir = local_prefix + 'fraud'
files = [os.path.join(input_dir, f) for f in os.listdir(input_dir)]

fraud_df = load_transactions(files)
fraud_df.head(10)

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_FRAUD,TX_FRAUD_SCENARIO,TX_FRAUD_PREDICTION,TX_FRAUD_PROBABILITY
0,237304,1970-01-01,377,522,11.24,1,2,0,0.0
1,86774,1970-01-01,710,1603,43.45,1,2,0,0.0
2,86742,1970-01-01,1081,293,415.05,1,3,0,0.0
3,86482,1970-01-01,4700,5876,21.42,1,2,0,0.0
4,86951,1970-01-01,4556,6230,420.25,1,3,0,0.0
5,86367,1970-01-01,1918,5701,220.80,1,3,0,0.0
6,86497,1970-01-01,3459,739,52.85,1,2,0,0.0
7,87218,1970-01-01,3995,2650,230.39,1,1,0,0.0
8,86291,1970-01-01,3787,442,109.98,1,2,0,0.0
9,83918,1970-01-01,4695,3224,15.70,1,2,0,0.0

In [5]:
input_dir = local_prefix + 'archive'
files = [os.path.join(input_dir, f) for f in os.listdir(input_dir)]

tx_df = load_transactions(files)
tx_df.tail(10)

,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_FRAUD,TX_FRAUD_SCENARIO,TX_FRAUD_PREDICTION,TX_FRAUD_PROBABILITY
8990,297241,1742-05-07 06:50:36.614035456,2708,932,106.68,0,0,0,0.0
8991,297242,1742-05-07 06:57:16.614035456,4682,4616,62.64,0,0,0,0.0
8992,297243,1742-05-07 08:57:16.614035456,870,9406,85.49,0,0,0,0.0
8993,297244,1742-05-07 09:13:56.614035456,1999,1520,31.47,0,0,0,0.0
8994,297245,1742-05-07 09:35:36.614035456,3806,4545,91.15,0,0,0,0.0
8995,297248,1742-05-07 11:18:56.614035456,1462,2888,32.60,0,0,0,0.0
8996,297249,1742-05-07 11:45:36.614035456,3836,2543,29.50,0,0,0,0.0
8997,297255,1742-05-07 13:47:16.614035456,191,7583,55.87,0,0,0,0.0
8998,297259,1742-05-07 15:32:16.614035456,531,4629,22.99,0,0,0,0.0
8999,297260,1742-05-07 15:35:36.614035456,481,5732,12.23,0,0,0,0.0